body{
  background-image: url("../assets/images/random_grey_variations.png")
}
.list-group-item {
  line-height: 2.5;
}

.update{
  float: right;
}

.edit{
  background-color: rgb(68, 167, 235);
  color: #ffffff;
}
.message{
  background-color: rgb(68, 167, 235);
  color: #ffffff;
  font-size: 15px;

  float:right;
  margin-left: -50px;}
 
.side3{
  font-size: 15px;
}